<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Delete Car</title>
	</head>
	<body>
		<span th:if="${isIdAda} == null">
			<h2>Mohon maaf, Anda belum memasukkan ID.</h2>
		</span>
		<span th:unless="${isIdAda} == null">
			<span th:if="${car} == null">
				<h2 th:text="'Mohon maaf mobil dengan nomor ID=' + ${id} + ' tidak tersedia.'"></h2>
				<h2>Silahkan mencoba kembali. :)</h2>
			</span>
			<span th:unless="${car} == null">
				<h2 th:text="'Mobil dengan nomor ID=' + ${id} + ' telah berhasil dihapus.'"></h2>
			</span>
		</span>
	</body>
</html>